
#list
{
	min-width:150px;
	width:24%;
	float:left;
	background-color:bisque;
	padding:15px 0px 15px 0px;
	margin:0px 10px 0px 0px;
	box-sizing:border-box;
	clear:both;
}
#out
{
	width:100%;
	background-color:aqua;
	border:1px;
	border-color:green;
	border-style:solid;
	position:relative;
}
#text
{
	display:inline-block;
	width:74%;
	min-width:150px;
	background-color:darkgray;
	margin: 0px 10px 0px 0px;
}
p
{
	margin:0px;
}