#green
{
	margin: 20px auto 0 auto;
	background-color:green;
	color:white;
	width:500px;
}
#blue
{
	margin: 20px auto 0 auto;
	background-color:blue;
	color:white;
	width:600px;
	padding:25px;
	border:25px;
	border-color:blue;
	border-style:solid;
}